{{ define "main" }}
  {{ .Content }}
  {{ $pages := first 10 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
  <div class="row">
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12">
      <h1>Recent Posts</h1>
      <ul class="list-unstyled">
      {{ range $index, $value := $pages }}
        {{ $link := .Permalink }}
        {{ $title := .Title}}
        {{ $descriptions := .Description }}
        {{ $image := .Params.image }}
        {{ $thumbnail := .Params.thumbnail }}

        <li class="media p-2 mb-3 border">
          
          {{ with .Params.thumbnail }}
            <a href="{{ $link }}"><img class="card-img-top post-img-thumb img-fluid" src="{{ $thumbnail }}"  alt="{{ $title }}" /></a> 
          {{ end }}
          <div class="media-body pl-3">
            <h4><a href="{{ $link }}">{{ .Title }}</a></h4>
            <span>posted on {{.Date.Format "January 2, 2006" }}</span>
            <p>{{ .Description }}</p>
            {{ $taglist := .Params.tags }}
            {{ $len := len $taglist}}
            <i class="fa fa-tags"></i>
            {{ range $index, $element := $taglist }}
              <a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ if not (eq (add $index 1) $len) }},&nbsp;{{ end }}
            {{ end }}
          </div>
        </li>
      {{ end }}
      </ul>
    </div><!-- /col -->

    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <h2>Tags</h2>
      <ul>
      {{ range $key, $value := .Site.Taxonomies.tags }}
        <li><a href="/tags/{{ $key | urlize  }}">{{ $key | humanize | title }}</a> ({{ len $value }})</li>
      {{ end }}
      </ul>
    </div>
  </div><!-- /row -->
{{ end }}