<!-- Site Header -->
{{ $imagePath := "/images/books.jpg" }}
{{ with .Site.Params.headerimage }}
  {{ $imagePath = . }}
{{ end }}
{{ with .Params.headerimage }}
  {{ $imagePath = . }}
{{ end }}
<header class="masthead" style="background-image: url('{{ $imagePath | safeHTML }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        <div class="site-heading">
          {{ $title := .Site.Title }}
          {{ if not (eq .Title "Home") }}
            {{ $title = .Title }}
          {{ end }}
          <h1>{{ $title }}</h1>
          <span class="subheading">{{ .Description | default .Site.Params.Description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>