<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/favicon.ico">

<title>{{ .Title }} | {{ .Site.Title }}</title>

<!-- RSS -->
{{ with .OutputFormats.Get "atom" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- FontAwesome -->
<link href="/css/fontawesome.min.css" rel="stylesheet" />
<script defer src="/js/all.min.js"></script>

<!-- Custom styles for this template -->
<link href="/css/basic.css" rel="stylesheet"> 
<link href="/css/custom.css" rel="stylesheet">

<!-- Google Analytics -->
{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/google_analytics_async.html" . }}

<!-- Facebook Open Graph -->
{{ template "_internal/opengraph.html" . }}

<!-- Twitter Cards -->
{{ template "_internal/twitter_cards.html" . }}